<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Employees Directory</title>
</head>
<body>
<div class="container">

    <h3 class="mt-10">Employee Directory</h3>
    <hr>
    <a class="btn btn-primary btn-md mb-3" th:href="@{/employees/showFormForAdd}">
        Add Employee
    </a>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th class="align-middle">First Name</th>
                <th class="align-middle">Last Name</th>
                <th class="align-middle">Email</th>
                <th class="align-middle">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee:${employees}">
                <td th:text="${employee.firstName}" class="align-middle"></td>
                <td th:text="${employee.lastName}" class="align-middle"></td>
                <td th:text="${employee.email}" class="align-middle"></td>
                <td class="align-middle">
                    <a th:href="@{/employees/showFormForUpdate(employeeId=${employee.id})}"
                       class="btn btn-info btn-block">
                        Update
                    </a>
                    <a th:href="@{/employees/deleteConfirmation(employeeId=${employee.id})}"
                       class="btn btn-danger btn-block">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
</body>
</html>
